@import "../../variables.scss";

.ingredient {
    display: inline-flex;
    background-color: $primaryColor;
    color: $secondaryColor;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 15px;
    font-weight: 700;
}

.name {
    position: relative;
}

.overlay {
    background-color: darken($primaryColor, 10%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 15px;
}

.checkbox {
    width: 10px;
    height: 10px;
    background-color: none;
    border: 1px solid $secondaryColor;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}