.camera {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    input {
        display: none;
    }
}

.logo {
    width: 37%;
    max-width: 200px;
    height: auto;
}